%table
  %thead
    %tr
      %th Quantity
      %th Art.no.
      %th Title
      %th Price
      %th VAT
  %tbody
    %tr
      %td= field "", :"product[0]_quantity", :text, :value => "1", :size => 2
      %td= field "", :"product[0]_article_id", :text, :value => "101", :size => 6
      %td= field "", :"product[0]_title", :text, :value => "Product #1", :size => 20
      %td= field "", :"product[0]_price", :text, :value => "99,00", :size => 8
      %td= field "", :"product[0]_vat", :text, :value => "25,00", :size => 4
    %tr
      %td= field "", :"product[1]_quantity", :text, :value => "1", :size => 2
      %td= field "", :"product[1]_article_id", :text, :value => "102", :size => 6
      %td= field "", :"product[1]_title", :text, :value => "Product #2", :size => 20
      %td= field "", :"product[1]_price", :text, :value => "149,00", :size => 8
      %td= field "", :"product[1]_vat", :text, :value => "25,00", :size => 4