%h1 Invoice & Part-payment Terms
%p It is very important that invoice and part payment terms are correctly shown in the webshop. Both invoice and part payment terms has to be shown in your terms and condition page.

%h2 Sweden
%p
  Invoice terms:
  = link_to "https://online.klarna.com/villkor.yaws?eid=2&charge=5", "https://online.klarna.com/villkor.yaws?eid=2&charge=5"
  *
%p
  Account information:
  = link_to "https://online.klarna.com/account_se.yaws?eid=2", "https://online.klarna.com/account_se.yaws?eid=2"
  **
%p
  Account terms:
  = link_to "http://klarna.se/kontovillkor.pdf", "http://klarna.se/kontovillkor.pdf"
%p
  Mobile terms:
  = link_to "https://online.klarna.com/mobile_terms_se.yaws", "https://online.klarna.com/mobile_terms_se.yaws"
%p
  Homepage:
  = link_to "http://klarna.se", "http://klarna.se"
%p
  Lowest amount to pay:
  %strong 50 SEK/month

%h2 Norway
%p
  Invoice terms:
  = link_to "https://online.klarna.com/villkor_no.yaws?eid=2&charge=5", "https://online.klarna.com/villkor_no.yaws?eid=2&charge=5"
  *
%p
  Account information:
  = link_to "https://online.klarna.com/account_no.yaws?eid=2", "https://online.klarna.com/account_no.yaws?eid=2"
  **
%p
  Account terms:
  = link_to "http://klarna.no/kontovilkar.pdf", "http://klarna.no/kontovilkar.pdf"
%p
  Homepage:
  = link_to "http://klarna.no", "http://klarna.no"
%p
  Lowest amount to pay:
  %strong 95 NOK/month


%h2 Finland
%p
  Invoice terms:
  = link_to "https://online.klarna.com/villkor_fi.yaws?eid=2&charge=5", "https://online.klarna.com/villkor_fi.yaws?eid=2&charge=5"
  *
%p
  Account information:
  = link_to "https://online.klarna.com/account_fi.yaws?eid=2", "https://online.klarna.com/account_fi.yaws?eid=2"
  **
%p
  Account terms:
  = link_to "http://klarna.com/klarna-tiliehdot.pdf", "http://klarna.com/klarna-tiliehdot.pdf"
%p
  Homepage:
  = link_to "http://klarna.fi", "http://klarna.fi"
%p
  Lowest amount to pay:
  %strong 8,95 EUR/month


%h2 Denmark
%p
  Invoice terms:
  = link_to "https://online.klarna.com/villkor_dk.yaws?eid=2&charge=5", "https://online.klarna.com/villkor_dk.yaws?eid=2&charge=5"
  *
%p
  Account information:
  = link_to "https://online.klarna.com/account_dk.yaws?eid=2", "https://online.klarna.com/account_dk.yaws?eid=2"
  **
%p
  Account terms:
  = link_to "http://klarna.dk/kontovilkar.pdf", "http://klarna.dk/kontovilkar.pdf"
%p
  Homepage:
  = link_to "http://klarna.dk", "http://klarna.dk"
%p
  Lowest amount to pay:
  %strong 89 DKK/month

%h2 Germany
%p
  Invoice terms:
  = link_to "https://online.klarna.com/villkor_de.yaws?eid=2&charge=5", "https://online.klarna.com/villkor_de.yaws?eid=2&charge=5"
  *
%p
  Account information:
  = link_to "https://online.klarna.com/account_de.yaws?eid=2", "https://online.klarna.com/account_de.yaws?eid=2"
  **
%p
  Account terms
  = link_to "http://klarna.se/pdf/Vertragsbedingungen.pdf", "http://klarna.se/pdf/Vertragsbedingungen.pdf"
%p
  Homepage:
  = link_to "http://klarna.de", "http://klarna.de"
%p
  Lowest amount to pay:
  %strong 6,95 EUR/month
